@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #353535;
  font-family: "Raleway", sans-serif;
}
.wrapper {
  max-width: 500px;
  padding: 0 30px;
  margin: 40px auto;
  color: #eaf4fd;
}
h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 40px;
  color: white;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 30px 0;
}
.input-box {
  margin-bottom: 20px;
  position: relative;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  background-color: transparent;
  height: 30px;
  padding: 5px 0;
  color: #eaf4fd;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #eaf4fd;
  text-transform: capitalize;
  outline: none;
  letter-spacing: 2px;
}

input::placeholder {
  color: #eaf4fd;
  text-transform: capitalize;
  opacity: 0.6;
  font-weight: thin;
  font-family: inherit;
  letter-spacing: 2px;
}
.fa-user,
.fa-envelope,
.fa-credit-card {
  position: absolute;
  right: 0;
  bottom: -5px;
  color: white;
  opacity: 0.6;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}
input[type="text"].dob {
  display: inline-block;
  margin-right: 5px;
  width: 30%;
  text-align: center;
}
input[type="radio"] {
  margin-right: 3px;
}
input[type="radio"] + label {
  padding-right: 7px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-style: normal;
}
.fa-cc-visa,
.fa-cc-paypal {
  font-family: "Raleway" sans-serif;
  font-size: 16px;
  font-style: normal;
  color: white;
}
button {
  border: 1px solid #eaf4fd;
  color: #eaf4fd;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  padding: 8px 33px;
  border-radius: 30px;
  display: block;
  margin: 30px auto 0;
  cursor: pointer;
  transition: 0.5s ease all;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
button:hover {
  background: #eaf4fd;
  color: #353535;
}
